@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-neue-regrade);
  --color-platinum: #f0f0f0;
  --color-graphite: #313131;
  --color-silver: #b8b8b8;
  --color-carrot: #f89525;
}

@layer base {
  body {
    @apply bg-platinum text-graphite font-sans;
  }
}
